%p#notice= notice

%p
  %b Latitude:
  = @map.latitude
%p
  %b Longitude:
  = @map.longitude
%p
  %b Zoom:
  = @map.zoom
%p
  %b User:
  = @map.user

= link_to 'Edit', edit_map_path(@map)
\|
= link_to 'Back', maps_path
