%table
	%center
		%tr
			%td
				= image_tag(@img)
		%tr
			%td
				%br
				%center
					= link_to "^", "home/buttons", :class=>"btn btn-default"
					%br
					%br
					= link_to "<", "home/buttons", :class=>"btn btn-default"
					= link_to "ZOOM", "home/buttons", :class=>"btn btn-default"
					= link_to ">", "home/buttons", :class=>"btn btn-default"
					%br
					%br
					= link_to "v", "home/buttons", :class=>"btn btn-default"
