%table
	%center
		%tr
			%td
				= image_tag(@img)
		%tr
			%td
				%br
				%center
					= button_tag "^", :class=>"btn btn-default"
					%br
					%br
					= button_tag "<", :class=>"btn btn-default"
					= button_tag "ZOOM", :class=>"btn btn-default"
					= button_tag ">", :class=>"btn btn-default"
					%br
					%br
					= button_tag "v", :class=>"btn btn-default"
