!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Flagcam"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"


  %body
    .navbar.navbar-top
      .navbar-inner
        .container
          %a.brand(href=root_path) Flagcam
          .container.nav-collapse
            %p.navbar-text.pull-right
              - if user_signed_in?
                Logged in as
                = succeed "." do
                  %strong= current_user.email
              - else
                = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'

    .container
      .span12
        = bootstrap_flash
        = yield
    
      %footer
        %p &copy; Company 2014
